@{
    ViewData["Title"] = "Dashboard";
    ViewData["SubTitle"] = " Material Dashboard";
}
@model CoinMain
<div class="row" id="HighRatedList">
    @Html.Partial("~/Views/CoinList/_CoinWidgetPartial.cshtml", @Model.CoinHeader)
</div>
<div class="row">
    <div class="col-lg-12 col-md-12" id="ListByVolume">
            @Html.Partial("~/Views/CoinList/_CoinListByVolume.cshtml", @Model.CoinDetialByVolume)
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
           
            // On initial load
            $(".percentage:contains('-')").removeClass('text-success').addClass('text-danger');
            $('.percentage:not(:contains("-"))').removeClass('text-danger').addClass('text-success');

            setInterval(function () {
                $("#HighRatedList").load("@Url.Action("GetData", "CoinList")", function (text, status, xhr) {
                    $(".percentage:contains('-')").removeClass('text-success').addClass('text-danger');
                    $('.percentage:not(:contains("-"))').removeClass('text-danger').addClass('text-success');
                });
            }, 2000);

            setInterval(function () {
                $("#ListByVolume").load("@Url.Action("GetCoinListByVolumne", "CoinList")", function (text, status, xhr) {
                });
            }, 10000);
        });
    </script>
}

